@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #555555;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-inter: var(--font-inter);
	--font-playfairDisplay: var(--font-playfair-display);

	--color-nav: #010187;
	--color-dark-purple: #640a62;
}

@layer base {
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		font-family: var(--font-inter);
		color: var(--color-foreground);
		/* background-color: var(--color-bg-light); */
	}

	main {
		margin: 0;
		padding: 0;
	}

	input,
	textarea {
		cursor: text;
	}

	a {
		outline: none;

		color: inherit;
		text-decoration: none;

		transition-duration: 250ms;
		transition-timing-function: ease;
	}

	button {
		box-sizing: border-box;

		outline: 0;
		padding: 0;
		margin: 0;
		border: 0;

		background-color: transparent;

		cursor: pointer;
		transition-duration: 250ms;
		transition-timing-function: ease;
	}
}

@layer utilities {
	.playfair {
		font-family: var(--font-playfair-display);
	}
}
